{% extends '_layout.html' %}
{% set title = 'Sentence detail' %}

{% block body %}

    <div class="card mt-2">
        <div class="card-header">Sentence <code>{{ s.id }}</code></div>
        <div class="card-body">
            <p class="card-text text-center mt-2 mb-3">{{ s.text }}</p>
            <p class="card-text">Source:
                <a class="card-link" href="{{ s.url }}" target="_blank">{{ s.url }}</a>
            </p>
            <p>
                <a class="btn btn-light" href="#">delete sentence</a>
                <a class="btn btn-light" href="{{ url_for('validation.remove_url', url=s.url) }}">discard site</a>
            </p>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">Crawl information</div>
        <div class="card-body">
            <p class="card-text">probability: {{ "%.2f" % (s.crawl_proba * 100) }}</p>
            <p class="card-text">Crawled on {{ s.crawl_date | datetime }}</p>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">Validation</div>
        <div class="card-body">
            <p class="card-text">validated by {{ s.validated_by|length }} user(s).</p>
            {% if s.dialect %}
                <p class="card-text">Dialect: <span class="badge badge-info">s.dialect.label</span>
                    (confidence: {{ "%.2f" % s.dialect.confidence }}%)</p>
                <p class="card-text">History</p>
                <ul>
                    {% for entry in s.dialect.labels %}
                        <li class="list-group-item">{{ entry.date }} - {{ entry.label }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}