{% extends '_layout.html' %}
{% block header_include %}
    <style type="text/css">
        .margins {
            margin: 30px auto;
        }

        .inline {
            display: inline;
        }
    </style>
{% endblock %}

{% block js_include %}
    <script type="text/javascript">
    </script>
{% endblock %}

{% block body %}

    <h2>Discard all results from <a href="{{ url }}" target="_blank">{{ url|unquote }}</a> ?</h2>

    <div class="card margins">
        <div class="card-body">
            <p class="card-text">
                <span class="oi oi-warning"></span> This action will blacklist the URL, so it will no longer be crawled.
                Please, go through only if you are sure there will never be Swiss German on this page.
            </p>
            {% from 'bootstrap/form.html' import render_form %}
            {{ render_form(form, extra_classes="inline", button_map={'submit': 'primary'}) }}
        </div>
    </div>

    {% if sentences %}
        <h4>Sentences found on this page</h4>
        <table class="table table-sm table-hover">
            <tr>
                <td>proba</td>
                <td>text</td>
            </tr>
            {% for s in sentences %}
                <tr id="{{ s.id }}">
                    <td>{{ "%.2f" % (s.crawl_proba * 100) }}</td>
                    <td>{{ s.text }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}