<style type="text/css">.tooltip-inner{max-width: 400px; width: inherit; }</style>
<table class="table table-sm table-hover mt-2">
    <thead>
    <tr>
        <th></th>
        <th class="text-right">Proba</th>
        <th class="text-center">Dialect</th>
        <th>Text</th>
    </tr>
    </thead>
    <tbody>
    {% for sentence in sentences.items %}
        <tr>
            <td>
                <a class="oi oi-eye" href="{{ url_for('sentences.details', sid=sentence.id) }}"></a>
            </td>
            <td class="text-right text-monospace small">{{ sentence.crawl_proba|percent }}</td>
            <td class="text-center">
                {% if sentence.dialect.label %}
                    {% from 'labelling/_macros.html' import render_label %}
                    {{ render_label(sentence.dialect.label) }}
                {% else %}
                    ?
                {% endif %}
            </td>
            <td  data-toggle="tooltip" data-placement="top" title="{{ sentence.url }}">{{ sentence.text }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>