{% extends '_layout.html' %}
{% set title = 'Seeds' %}

{% block body %}

    <div class="accordion" id="seeds_accordion">
        {% for seed in paginated_seeds.items %}
            <div class="card">
                <div class="card-header" id="heading-{{ loop.index }}"
                     type="button" data-toggle="collapse"
                     data-target="#collapse-{{ loop.index }}"
                     aria-expanded="true" aria-controls="collapseOne">
                    <a href="{{ url_for('.details', id=seed.id) }}"><span class="oi oi-eye mr-2"></span></a>
                    {{ seed.id }}
                </div>
                <div id="collapse-{{ loop.index }}"
                     class="collapse" aria-labelledby="heading-{{ loop.index }}" data-parent="#seeds_accordion">
                    <div class="card-body">
                        {% if seed.deleted %}
                            <div class="text-danger">Deleted by {{ seed.deleted.by }} on {{ seed.deleted.date }}</div>
                        {% endif %}
                        <p>
                            <span class="font-weight-bold">Source</span>
                            {{ seed.source.type_ }} {{ seed.source.extra or '' }}
                        </p>
                        <p><span class="font-weight-bold">Search History</span></p>
                        <ul>
                            {% for ch in seed.search_history %}
                                <li>{{ ch.date }}: {{ ch.count }} new URLs found.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="mt-5">
        {% from 'includes/_macros.html' import render_navigation %}
        {{ render_navigation(paginated_seeds, '.view') }}
    </div>
{% endblock %}