{% extends '_layout.html' %}
{% set title = 'Seeds' %}

{% block body %}


    <p class="clearfix">
        <a class="link link-primary float-right" href="{{ url_for('.add') }}">Add Seed</a>
    </p>


    <div class="card mb-4">
        <div class="card-header" id="headingOne" type="button" data-toggle="collapse" data-target="#collapse"
             aria-expanded="true" aria-controls="collapse">
            Filters
        </div>

        <div id="collapse" class="collapse" aria-labelledby="headingOne">
            <div class="card-body">
                {% from 'bootstrap/form.html' import render_form %}
                {{ render_form(form, button_map={'apply': 'primary'}) }}
            </div>
        </div>
    </div>


    {% if seeds.total %}
        <p>{{ seeds.total }} seeds found.</p>

        {% if seeds.has_prev or seeds.has_next %}
            {% from 'includes/_macros.html' import render_post_navigation %}
            {{ render_post_navigation(seeds) }}
        {% endif %}

        <div class="accordion" id="seeds_accordion">
            {% for seed in seeds.items %}
                <div class="card">
                    <div class="card-header">
                        <a href="{{ url_for('.details', id=seed.id) }}"><span class="oi oi-eye mr-2"></span></a>
                        {{ seed.id }}
                        <span class="float-right">
                    {% if seed.deleted %}
                        <span class="badge badge-danger">Deleted</span>
                    {% endif %}
                            <span class="badge">
                        {{ seed.source.type_ }} {{ seed.source.extra or '' }}
                    </span>
                    <span class="badge">{{ seed.count }}/{{ seed.search_history|length }}</span>
                </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <span class="alert alert-warning">No seed matches those filters.</span>
    {% endif %}

{% endblock %}