<style type="text/css">
    table.table-urls, .table-urls td:last-child {
        width: 100%;
    }
</style>

<table class="table table-sm table-hover table-urls">
    <tr>
        <th colspan="2">actions</th>
        <th class="text-right ml-1 mr-1" title="Number of sentences found">
                        <span data-toggle="tooltip" data-placement="bottom"
                              title="Number of sentences found on this page.">#s</span>
        </th>
        <th>url</th>
    </tr>
    {% from 'urls/_macros.html' import external_link, url_details_icon %}
    {% for url in urls.items %}
        <tr>
            <td>{{ url_details_icon(url.url, url.id) }}</td>
            <td>{{ external_link(url.url, as_icon=True) }}</td>
            <td class="text-right ml-1 mr-1">{{ url.count }}</td>
            <td><code>{{ url.url }}</code></td>
        </tr>
    {% endfor %}
</table>