{% extends '_layout.html' %}
{% set title = 'Dialect labelling' %}
{% block header_include %}
    <style type="text/css">
        .margins {
            margin: 30px auto;
        }

        label {
            margin: 0;
            padding: .1rem .6rem;
        }

        form {
            text-align: center;
        }

        form .btn {
            margin: 0 3px;
            background: white;
        }

        #sentence {
            padding: 2rem 1.25rem;
            min-height: 10rem;
        }

        form .btn.dialect {
            width: 100%;
            margin: .2em;
            font-family: Roboto, Arial, sans-serif;
        }

        .dialects .row:last-of-type label {
            margin-top: 1.3em;
            text-align: center !important;
        }

    </style>
{% endblock %}

{% block js_include %}
    <script type="text/javascript">
        $(function () {
            $('[type=radio]').click(function () {
                $('form').submit();
            });
        });
    </script>
{% endblock %}

{% block body %}

    {% from 'bootstrap/form.html' import render_form, render_field %}
    <form method="post">
        <div class="card margins">
            <div class="card-body">
                {# {{ form.delete_sentence(class_="btn btn-sm btn-light float-right") }}#}
                <a class="btn btn-sm float-right" href="{{ url_for('sentences.details', sid=sentence.id) }}">
                    <span class="oi oi-eye"></span>
                </a>
                <div id="sentence" class="card-text text-center">{{ sentence.text }}</div>
                <div class="card-text text-right">
                    Source: <code>{{ sentence.url }} </code>
                    <a href="{{ sentence.url }}" target="_blank"
                       class="btn btn-link btn-sm text-secondary pl-0 pr-0 ml-0">
                        <span class="oi oi-external-link"></span>
                    </a>
                    <a href="{{ url_for('urls.details', id=sentence.url, next=encode_next_url(request.url)) }}"
                       class="btn btn-link btn-sm text-secondary pl-0 pr-0 ml-0">
                        <span class="oi oi-eye"></span>
                    </a>
                </div>
                <div class="card-text text-muted font-italic text-sm-right">added on {{ sentence.date_added | datetime }}</div>
            </div>
            <div class="card-footer dialects">
                {{ form.csrf_token }}
                {{ form.sentence_id }}

                {% for subfield_row in form.dialect | batch(2) %}
                    <div class="row">
                        {% for subfield in subfield_row %}
                            <div class="col-sm">
                                <span class="d-none">{{ subfield }}</span>
                                <label for="{{ subfield.label.field_id }}"
                                       class="btn dialect text-left btn-light
                                        {{ 'text-danger' if subfield.data.startswith('?') else '' }}">
                                    <span class="text-monospace">{{ subfield.data.upper() }}</span> -
                                    <span class="font-weight-normal text-sm">{{ subfield.label.text }}</span>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </form>

{% endblock %}