{% extends '_layout.html' %}
{% block header_include %}
    <style type="text/css">
    </style>
{% endblock %}

{% block js_include %}
    <script type="text/javascript">
    </script>
{% endblock %}

{% block body %}

    <h2>Dialect labelling</h2>

    <div class="card margins">
        <div class="card-body">
            {% from 'bootstrap/form.html' import render_form, render_field %}
            {{ render_form(form, extra_classes="inline", button_map={'submit': 'primary'}) }}
        </div>
    </div>
{% endblock %}