{% extends '_layout.html' %}
{% set title = 'Sentences' %}

{% block header_include %}
    <style type="text/css">
    #dialects {
        height: auto;
    }
    </style>
{% endblock %}
{% block body %}

    {% from 'bootstrap/form.html' import render_form %}

    <div class="card mb-4">
        <div class="card-header" id="headingOne" type="button" data-toggle="collapse" data-target="#collapse"
             aria-expanded="true" aria-controls="collapse">
            Filters
        </div>

        <div id="collapse" class="collapse {{ '' if collapse else 'show' }}" aria-labelledby="headingOne">
            <div class="card-body">
                {{ render_form(form, button_map={'apply': 'primary'}) }}
            </div>
        </div>
    </div>

    {% if sentences %}
        {% if sentences.total %}
            <p>{{ sentences.total }} sentences found.</p>

            {% if sentences.has_prev or sentences.has_next %}
{#                {% from 'includes/_macros.html' import render_post_navigation %}#}
                {% from 'includes/_macros.html' import render_post_navigation %}
                {{ render_post_navigation(sentences) }}
            {% endif %}

            {% include 'sentences/_table.html' %}
        {% else %}
            <p class="alert alert-danger">No sentence match this search.</p>
        {% endif %}
    {% endif %}

{% endblock %}