<!-- Image and text -->
{% from 'includes/_macros.html' import icon %}
<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand" href="/">
        <img src="/static/switzerland.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        SG
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between">
        {% if current_user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('sentence_validation.validate') }}">Validate sentences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('labelling.add_labels_radio') }}">Dialect-tagging</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('seeds.add_seed') }}">Seeds</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><span class="nav-link">{{ current_user.name }}</span></li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">{{ icon('account-logout') }}</a>
                </li>
            </ul>

        {% else %}
            {#<ul class="navbar-nav mr-auto">#}
            {#    <li class="nav-item">#}
            {#        <a class="nav-link" href="/login">{{ icon('account-login') }}</a>#}
            {#    </li>#}
            {#</ul>#}
        {% endif %}
    </div>

</nav>