{% extends '_layout.html' %}
{% block header_include %}
    <style type="text/css">
        /* delete action button */
        .action-button span:before {
            content: '\e050'; /* delete icon */
        }

        /* deleted row style */
        .deleted {
            background: #efefef;
            font-style: italic;
            text-decoration: line-through;
            color: #666;
        }

        /* undo button */
        .deleted .action-button span:before {
            content: '\e003'; /* action-undo icon */
        }

        /* dropdown menu */
        .oi-ellipses {
            transform: rotate(90deg);
        }

        a.dropdown-toggle {
            padding: 4px;
        }
    </style>
{% endblock %}

{% block js_include %}
    <script type="text/javascript">
        function delete_sentence(id) {
            let $tr = $('#' + id);
            if ($tr.hasClass('deleted')) {
                $.ajax({url: `/api/sentences/${id}/restore`, method: "GET", contentType: 'application/json'})
                    .done(() => $tr
                        .removeClass("deleted")
                        .find('button')
                        .removeClass('btn-outline-danger').addClass('btn-outline-success')
                    )
                    .always((msg) => console.log(msg))
            } else {
                $.ajax({url: `/api/sentences/${id}`, method: "DELETE", contentType: 'application/json'})
                    .done(() => $tr
                        .addClass("deleted")
                        .find('button')
                        .removeClass('btn-outline-success').addClass('btn-outline-danger')
                    )
                    .always((msg) => console.log(msg))
            }
        }
    </script>
{% endblock %}

{% block body %}
    <p>Validate sentences</p>
    <table class="table table-sm table-hover">
        <tr>
            <td></td>
            <td></td>
            <td>proba</td>
            <td>text</td>
        </tr>
        {% for s in sentences %}
            <tr id="{{ s.id }}">
                <td>
                    <button type="button" class="btn btn-outline-success btn-sm action-button"
                            onclick="delete_sentence('{{ s.id }}')">
                        <span class="oi oi-delete" title="icon delete" aria-hidden="true"></span>
                    </button>
                </td>
                <td>
                    <div class="dropdown">
                        <a class="btn bg-light dropdown-toggle" href="#" role="button" id="dropdownMore"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-ellipses"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMore">
                            <a class="dropdown-item" href="{{ s.url }}" target="_blank">View site</a>
                            <a class="dropdown-item" href="{{ url_for('.remove_url', url=s.url) }}">
                                Discard site</a>
                        </div>
                    </div>
                </td>
                <td>{{ "%.2f" % (s.crawl_proba * 100) }}</td>
                <td>{{ s.text }}</td>
            </tr>
        {% endfor %}
    </table>

    {% from 'bootstrap/form.html' import render_form %}
    {{ render_form(form) }}
{% endblock %}