{% extends '_layout.html' %}
{% set title = 'Erreur' %}

{% block header_include %}
    <style type="text/css">
        .align-center {
            text-align: center;
        }

        h1 {
            margin-bottom: 40px;
        }

        table.table {
            width: auto;
            margin: 30px auto;
        }

        table td + td {
            padding-left: 1em;
            font-family: monospace;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="align-center">

        <h1>Erreur {{ status_code }}</h1>
        <p>Oups, une erreur est survenue.</p>


        <button class="btn btn-link" id="headingOne" type="button" data-toggle="collapse" data-target="#collapse"
                aria-expanded="true" aria-controls="collapse">
            Details
        </button>

        <div class="card mt-4 collapse" id="collapse" aria-labelledby="headingOne">
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td>code</td>
                        <td><code>{{ status_code }}</code></td>
                    </tr>
                    <tr>
                        <td>message</td>
                        <td><code>{{ message }}</code></td>
                    </tr>
                    <tr>
                        <td>cause</td>
                        <td><code>{{ cause }}</code></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}