<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        SwissText{% if title %}: {{ title }}{% endif %}
    </title>
    <!-- icon: swiss flag in base64 -->
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABlBMVEX/AAD///9BHTQRAAAAAWJLR0QB/wIt3gAAAAd0SU1FB+EICgISKADExWUAAAAaSURBVAjXY2DAD9gfECKY//8/gJsgwgC8AAAREx0p1QnHwwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNy0wOC0xMFQwMjoxODo0MCswMDowMKfok8wAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTctMDgtMTBUMDI6MTg6NDArMDA6MDDWtStwAAAAAElFTkSuQmCC">
    <!-- Bootstrap CSS -->
{#     {{ bootstrap.load_css() }}#}
{#    <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">#}
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
{#    <link rel="stylesheet" href="/static/bootstrap.min.css">#}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    {% block header_include %}
    {% endblock %}
    <title>SG detector</title>
</head>
<body>

{% include 'includes/_navbar.html' %}
<div class="container">
    {% if title %}
        <div id="main-title" class="pb-1 mt-2 mb-4 border-bottom">
            {% block before_title %}{% endblock %}
            <h1>{{ title }}</h1>
        </div>
    {% endif %}
    {% include 'includes/_messages.html' %}
    {% block body %}{% endblock %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

{{ bootstrap.load_js() }}
{#<script#}
{#        src="https://code.jquery.com/jquery-3.3.1.min.js"#}
{#        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"#}
{#        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"#}
{#        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"#}
{#        crossorigin="anonymous"></script>#}

<script type="text/javascript">$(function () { $('[data-toggle="tooltip"]').tooltip()})</script>
{% block js_include %}
{% endblock %}
</body>
</html>