<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>SwissText{% if title %}: {{ title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- icon: swiss flag in base64 -->
    <link rel="icon"
          href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABlBMVEX/AAD///9BHTQRAAAAAWJLR0QB/wIt3gAAAAd0SU1FB+EICgISKADExWUAAAAaSURBVAjXY2DAD9gfECKY//8/gJsgwgC8AAAREx0p1QnHwwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNy0wOC0xMFQwMjoxODo0MCswMDowMKfok8wAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTctMDgtMTBUMDI6MTg6NDArMDA6MDDWtStwAAAAAElFTkSuQmCC">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/vendor/bootstrap-journal.min.css">
    <link rel="stylesheet" href="/static/vendor/open-iconic-bootstrap.min.css">
    <!-- custom style -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- custom css block -->
    {% block header_include %}
    {% endblock %}
</head>
<body>

{% include 'includes/_navbar.html' %}
<div class="container">
    {% if title %}
        <div id="main-title" class="pb-1 mt-2 mb-4 border-bottom">
            {% block before_title %}{% endblock %}
            <h1>{{ title }}</h1>
        </div>
    {% endif %}
    {% include 'includes/_messages.html' %}
    {% block body %}{% endblock %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" src="/static/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/static/vendor/popper.min.js"></script>
<script type="text/javascript" src="/static/vendor/bootstrap.min.js"></script>

<!-- init bootstrap tooltips on all pages by default -->
<script type="text/javascript">$(function () { $('[data-toggle="tooltip"]').tooltip(); })</script>

<!-- custom JS block -->
{% block js_include %}
{% endblock %}

</body>
</html>